@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.btn-start, .btn-stop, .btn-reset {
    transition: background-color 0.3s;
}

.btn-start:hover, .btn-stop:hover, .btn-reset:hover {
    filter: brightness(120%);
}
