@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.btn-start, .btn-stop, .btn-reset {
    transition: background-color 0.3s;
}

.btn-start:hover, .btn-stop:hover, .btn-reset:hover {
    filter: brightness(120%);
}

@media (max-width: 768px) {
    .main-container{
        min-height: 80vh;
    }
    .title{
        font-size: x-large;
        padding-bottom: 10%;
    }
    #timeDisplay{
        padding-bottom: 10%;
    }
    .btn-start, .btn-stop, .btn-reset {
        font-size: small;
        padding: 6px 10px;
    }
}
